@charset "UTF-8";

h1 {
	margin-left: 195px;
	font-size: 10em;
	font-family: 'Amatic SC', cursive;
}

body {
	background-image: url("hatchlings-angry-birds.jpg");
	background-size: 100%;
}

#start {
	margin-left: 10px;
	height: 100px;
	width: 300px;
	margin-top: 250px;
	font-size: 2.35em;
	font-family: 'Amatic SC', cursive;
	color: "#D8BFD8";
	padding-left: 5	px;
	border: 1px solid black;
	background-color: #708090;
}

input {
	margin-left: 350px;
	height: 100px;
	width: 300px;
	margin-bottom: 5px;
	margin-top: 250px;
	font-size: 2.0em;
	font-family: 'Amatic SC', cursive;
	padding-left: 20px;
	border: 1px solid black;
	background-color: #F5FFFa;
	
}

.invisible {
	display: none;
}

#yourScore {
	font-size: 3.0em;
	font-family: 'Amatic SC', cursive;
	border: 1px solid black;
	height: 40px;
	width: 328px;
	background-color: #708090;
	margin-top: 130px;
}

#reload {
	font-size: 2.0em;
	font-family: 'Amatic SC', cursive;
	border: 1px solid black;
	height: 50px;
	width: 390px;
	margin-left: 520px;
}

#scores {
	
	margin-top: 5px;
	font-size: 3.0em;
	font-family: 'Amatic SC', cursive;
	background-color: #F5FFFa;
	border: 1px solid black;
	width: 400px;
}

#überschrift {
	margin-left: 650px;
	font-size: 5.0em;
	font-family: 'Shadows Into Light', cursive;
}

#info {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 1.3em;
	margin-left: 280px;
	height: 120px;
	width: 825px;
	background-color: white;
	border: 1px solid black;
	margin-top: 50px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}